/*
  git-learn
*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eeeeee;
}

.container {
    margin-top: 0px;
}

.pic-fall {
    width: 232px;
    padding: 2px;
    float: left;
}

.pic-fall img {
    width: 218px;
    height: auto;
    padding: 5px;
    border: 1px solid #DDDDDD;
    box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.4);
}
